@media screen and (max-width: 700px){
    .commentsUl {
        min-height: auto;
    }

    .commentLi {
    margin-right: 10%;
    }

    b {
        word-wrap: break-word;
    }

    li {
        box-sizing: border-box;
    }
}