@media screen and (max-width: 700px){
    .commentsUl {
        min-height: auto;
    }

    .commentLi {
    margin-right: 10%;
    }

    li {
        /*Вставив знак переносу на слова які не вміщаються*/
        hyphens: auto;
    }
}