@media screen and (max-height: 500px) {
    .userDiv {
        width: 93vw;
        flex-direction: row;
        justify-content: center;
        column-gap: 2vh;
        font-size: 110%;
    }

    .userBlock {
        margin-top: 20px;
    }

    .userButton {
        font-size: 100%;
        width: 50%;
    }
}